@keyframes marchingAnts {
  0% {
    background-position: 0 100%;
  }
  100% {
    background-position: 1rem 100%;
  }
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
